.nav{
	display:inline;
}
.nav li{
	float:right;
	margin-right: 30px;
	list-style:none;
}
#logo{
	margin-left:250px; /*logo no queda en linea con los elementos
	de la lista del nav*/
}
#manos{
	width:100%;
}
#titulo{
	position:absolute;
	text-align:center;
	margin-top:200px;
	color:white;
	width:100%;
}
#bla{
	position:absolute;
	text-align:center;
	margin-left:300px;
	margin-right:300px;
	margin-top:300px;
	color:#CDD0D4;
}
.get{
	text-align:center;
}
.final{
	text-align:center;
	background-color: #2A394C;
	color:#CDD0D4;
	padding:30px;
	margin-top: 30px;
	bottom:0;
}
span{
	color:#00aff1;
}
li{
	list-style:none;
}
footer{
	padding:30px;
	background-color: #000;
	color:#CDD0D4;
}
footer li{
	display:inline-block;
	float:right;
	margin-right: 30px; /*no logro que me queden en línea 
	con el texto de la izquierda*/
}
form{
	bottom:30px;
	display:inline;
}
.bloque1{
	width:50%;
	float:left;
	text-align:right;
	bottom:30px;
}
textarea{
	height:100px;
	width:30%;
	float:left;
}
#submit{
	color:#fff;
	background-color: #00adf0;
	border-radius: 5px;
	border-style: none;
	width:10%;
	height:50px;
	text-align:center;
	margin-top: 20px;
    margin-bottom: 120px; /*no pude hace que el submit quede abajo*/
}